*.env
.env
.env.*
.env.sample
.env.example

/node_modules
/.vscode
/.idea
/.vscode-server
/.vscode-insiders
/.vscode-test
/.vscode-insiders-test
/.vscode-test-electron
/.vscode-test-server
/.vscode-test-server-insiders

/build

/public/temp
.dist
.next
.nuxt
.vercel
.yarn
.pnpm-store
.pnpm-lock.yaml
.pnpm-workspace.yaml